#legList{
	display: flex;
	justify-content: center;
	align-items: stretch;
	flex-wrap: wrap;
}

.legBox{
	width: 350px;
	height: auto;
	margin: 0.2em;
	padding: 0.5em;
	background-color: #ddd;
	opacity: 0.7;
}

#search{
	display: flex;
	justify-content: center;
}